#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%; 
}

body {
    font-family: 'Montserrat-Light', sans-serif;
}

h1 {

}

h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
}

p {
    color:#8f8f8f;
}

h2 {
    font-family: 'Montserrat-Bold';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight:bold;
}

.nav-item {
    padding : 0 18px; 
}

.nav-link   {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* TItle Image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.div-title-img {
    position: relative;
}
/* Features */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}

.feature-box {
    text-align : center;
    padding: 5%;
}



.fa-col {
    color: #ef8172;
    margin-bottom: 5%;
}

.fa-col:hover {
    color:#ff4c68;
}

/* Testimonials */

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width : 15%;
    margin : 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding : 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA */
#cta {
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
}

.cta-header {
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;    
}


/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    /* height :100px; */
}

.footer-logo {
    padding: 2px 15px;
}

.end {
    padding: 3% 15% 2%;
}

@media (max-width: 1028px) {
    .title-img {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}
